@{
    ViewBag.Title = "Home Page";
}

<h1>SignalR Demo</h1>

@section scripts
{
    <script src="~/Scripts/jquery.signalR-2.0.3.min.js"></script>
    <script src="~/Scripts/knockout-2.2.0.js"></script>
    <script src="~/Scripts/perfSurf.js"></script>
}